* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);
	--very-pale-blue: hsl(225, 100%, 98%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);
}


body {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	background-color: var(--pale-blue);
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

picture img {
	position: absolute;
	top: 0;
	left: -50%;
	transform: translateX(50%);
	z-index: -1;
	width: 100%;
	height: 50%;
}

img {
	max-width: 100%;
}

main {
	max-width: 375px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 1.5em;
	background-color: white;
	text-align: center;
}

main img {
	height: 100%;
}

.title {
	margin: 1.25em 0 1em 0;
	color: var(--dark-blue);
	font-size: 1.25em;
	line-height: 1.2;
}

.subtitle {
	line-height: 1.6;
	width: 78%;
	margin: 1.25rem 2rem;
	color: var(--desaturated-blue);
}

.plan-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: .5rem;
	margin: 0.8em 2em;
	background-color: var(--very-pale-blue);
	border-radius: .75em;
	padding: 1em;
}


.plan-type {
	display: flex;
	align-items: center;
	text-align: left;
	gap: .2em;
}

.plan-type-name {
	color: var(--dark-blue);
	font-size: 1em;
	font-weight: 900;
	padding: .2em 1em;
}

.price {
	color: var(--desaturated-blue);
	font-size: .95em;
	padding: .2em 1em;
}

.plan-box a {
	color: var(--bright-blue);
	font-weight: 900;
	transition: all .3s;
}

.plan-box a:hover {
	color: hsl(245, 67%, 65%);
	text-decoration: none;
}

.proceed-button,
.cancel-button {
	display: block;
	text-decoration: none;
	width: 80%;
	font-size: 1rem;
	margin: 2em;
	cursor: pointer;
	font-weight: 700;
	transition: all .5s;
}

.proceed-button {
	color: white;
	background-color: var(--bright-blue);
	border-radius: 0.75em;
	padding: 1em 0;
}

.proceed-button:hover {
	background-color: hsl(245, 67%, 65%);
}

.cancel-button{
	color: var(--desaturated-blue);
}

.cancel-button:hover{
	color: var(--dark-blue);
}

@media screen and (max-width: 425px) {
	main{
		max-width: 88%;
	}
	.plan-box{
		margin: .25em 0.85em;
	}
}